*{margin:0}
body{background: url("https://media.tenor.com/images/6a711d2574fe2008e977629b3ea59bd7/tenor.gif") no-repeat center center fixed;
  background-size: cover;}
.kapla{background-color:#000;height:100vh;width:100%;opacity:.5;position:fixed;z-index:-1}.oneGec{color:#FFF;text-align:center;margin:auto;background-color:darkred;height:75vh;width:75%;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);border-style: dotted;}hr{width:75%;margin:auto;margin-top:14px;margin-bottom:14px}saat{background-color:#000;color:lime;display:inline-block;height:25px;width:99px;margin-left:5px;padding-top:5px;border-radius: 25px}h2{margin:7px;color:gray}.tour{margin:6px;color:lime}tour{color:orange}
